.wrapper {
	display: flex;
	gap: 10px;
	font-size: 1.125rem;
	color: initial;
	text-decoration: none;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
}

.user {
	width: fit-content;
	align-self: flex-end;
}

.additional {
	font-size: 0.8em;
	color: #00000080;
	display: flex;
	align-self: flex-end;
}
