$secondary: rgba(0, 0, 0, 0.5);
$primary: rgba(0, 0, 0, 0.8);

.list {
	display: flex;
	list-style-type: none;
	gap: 10px;
	overflow: hidden;
	width: 100%;
}

.tag {
	display: block;
	padding: 2px 5px;
	color: $secondary;
	border: 1px solid $secondary;
	border-radius: 2px;
	font-size: 0.6em;
	line-height: 1.3;
	text-align: center;
	max-width: 180px;
	width: fit-content;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;

	&:first-child {
		color: $primary;
		border-color: $primary;
	}
}
