.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 70%;
	padding: 15px 15px 25px 20px;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.body {
	overflow: hidden;
	white-space: pre-wrap;
}
