.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff;
}

.title > a {
	font-size: 1.125rem;
	font-weight: 400;
	color: black;
	text-decoration: none;
}
